body {
    background:#e7cdff;
}
div.header {
    margin:auto;
    width:30%;
    background: color #e7cdff;
    border-color:#40007a;
    border-style:groove;
    border-width:20px;
    }
div.header h1 {
    text-align: center;
    font-family: Verdana;
    font-size: 50px;
}
div.bio {
    background-color: #d4a6ff;
    margin:0px,0px;
}    
div.bio h2 {
    width:50%;
}
#myName {
    width:50%;
    font-family: Verdana;
    font-size: 32px;
    text-align: center;
    margin-left:300px;
    text-transform: uppercase;
    text-shadow: white 2px 2px 5px;
    font-variant: small-caps;
}
#avi img {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 20px;
    height:450px;
    width:675px;
    border-color: white;
    border-style: outset;
    border-width:15px;
}
#bio {
    margin:auto;
    text-align: left;
    width:95%;
    border-style: hidden;
    font-family:verdana;
}
div#contact {
    position:fixed;
    left:0;
    top:50%;
    height:120px;
    width:50px;
    border:4px solid white;
    background-color:#e7cdff;
}
div#contact h3 {
    transform: rotate(90deg);
    text-align: center;
    margin-inline-start: 10px;
    font-size: 24px;
}